$def with (page)

<html>
<head>
    <title>Mubleria jaivo</title>
    <style>
        
    </style>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
<link href="static/css/bootstrap.min.css" rel="" media="screen"> 
<div class="navbar navbar-inverse">
    <ul class="nav navbar-nav"> 
        <li class="active"><a href="/">Inicio</a></li> 
        <li><a href="/new">Nuevo Mueble</a></li>


    </ul> 

    </div>
    $:page
    </head>
    <body>
</body>
</html>