$def with(posts)
<!DOCTYPE html>
<html>
<head>
</head>
<body>



       <h1>Productos existentes</h1>

       <table border="1%", width='1%'>
       	 <th>Ver</th>
         <th>Modificar</th>
         <th>Borrar</th>
       		$for post in posts:
       		<tr>

           
	            <td><a href='/view/$post.id_producto'>$post.producto</a></td>
	           <td><a href='/edit/$post.id_producto' >Editar</a></td>
	            <td><a href='/edit/$post.id_producto'>Borrar</a></td>
	            
      	
            </tr>
            

       </table>
          
</body>
</html>
